@import "~font-awesome/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i');
@import "~medium-editor/dist/css/medium-editor.css";
@import "~medium-editor/dist/css/themes/beagle.css";

body {
  position: relative;
  margin: 0;
  padding: 0;
  color: black;
  height: 100vh;
  background-color: #FFF;
  font-family: 'Lora', sans-serif;
  font-size: 22px;
  height: 100%;
}

div:focus{
  border: none;
  outline: none;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -.025em;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  opacity: .75;
  text-decoration: none;
  color: #2377bf;
  text-decoration: underline;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
